<div class="span8">
	<h1><%= Date.tomorrow.strftime("%A, %B %d, %Y") %></h1>
			
	<table class="table table-bordered table-hover table-striped">
		<% @tasks.each do |t| %>
			<tr>
				<td><%= link_to "#{t.room}", task_path(t) %></td>
				<td><%= t.begin.strftime("%I:%M%P") %> - <%= t.end.strftime("%I:%M%P") %></td>
				<td><%= t.gear %></td>
				<td><%= t.preset %></td>
				<td><%= t.setup %></td>
				<td><%= t.strike %></td>
				<td><%= t.notes %></td>
			</tr>
		<% end %>
	</table>
</div>
		
<aside class="span3 newTask well">
	<h3>New Task</h3>
	<%= render 'shared/task_form', locals: { task: @task } %>
</aside>