<h2>Today</h2>
<ul>
	<% @today.each do |task| %>

		<li><%= task.day %> </li>
		<li><%= task.room %></li>
		<li><%= task.begin %></li>
		<li><%= task.end %></li>
		<li><%= task.gear %></li>

	<% end %>
</ul>

<h2>Tomorrow</h2>
<ul>
	<% @tomorrow.each do |task| %>
		<li><%= task.day %> </li>
		<li><%= task.room %></li>
		<li><%= task.begin %></li>
		<li><%= task.end %></li>
		<li><%= task.gear %></li>		
	<% end %>
</ul>