<h1>New Task</h1>

<% if flash[:error] %>
	<div class="alert alert-error"><%= flash[:error] %></div>
<% end %>

<%= form_for(@task) do |t| %>
	<%= t.label :day %>
	<%= t.text_field :day %>

	<%= t.label :room %>
	<%= t.text_field :room %>

	<%= t.label :begin %>
	<%= t.text_field :begin %>

	<%= t.label :end %>
	<%= t.text_field :end %>

	<%= t.label :gear %>
	<%= t.text_field :gear %>

	<%= t.label :preset %>
	<%= t.text_field :preset %>

	<%= t.label :notes %>
	<%= t.text_field :notes %>

	<%= t.submit "Create task", class: "btn btn-large btn-primary" %>
<% end %>