<h1>Task ID: <%= @task.id %></h1>
<ul>
	<li>Day: <%= @task.day %></li>
	<li>Room: <%= @task.room %></li>
	<li>Begin Time: <%= @task.begin %></li>
	<li>End Time: <%= @task.end %></li>
	<li>Gear: <%= @task.gear %></li>
	<li>Preset: <%= @task.preset %></li>
	<li>Notes: <%= @task.notes %></li>
</ul>

<%= link_to "Edit", edit_task_path(@task), class: "btn btn-large btn-primary" %>
<%= link_to "Delete", @task, method: :delete, data: { confirm: "Are you sure you want to delete?" }, 
														  title: @task.room, class: "btn btn-large btn-primary" %>